<div class="department">
  <h3>
    <span>{{ department.department }}</span>
  </h3>
  <div class="cover">
    <button class="icon" (click)="scroll(-250)" #leftButton>
      <i class="bi bi-arrow-left-square-fill"></i>
    </button>
    <div class="products-container" #productsContainer>
      <app-product
        *ngFor="let product of department.product"
        [product]="product"
      ></app-product>
    </div>
    <button class="icon" (click)="scroll(250)" #rightButton>
      <i class="bi bi-arrow-right-square-fill"></i>
    </button>
  </div>
</div>
