:host {
}
.about-container {
  margin: 0px 80px;
}
h1 {
  margin: 25px 0px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  text-align: center;
}
.img > img {
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
    drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}
.img {
  display: flex;
}
.about-us {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 8rem 0px;
  /* padding: 60px 0px; */

  row-gap: 100px;
  column-gap: 20px;
}

.img-employees {
  box-sizing: border-box;
  display: flex;
  width: 39rem;
  height: 25rem;
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
    drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}
.img-employees > img {
  width: 100%;
  height: 100%;
}
.history {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 0px 40px; */
}
.history-content > h6 {
  font-family: "Raleway", sans-serif;
  color: #6b7280;
}
.history-content > p {
  color: #9ca3af;
  font-size: smaller;
  line-height: 1.4;
}
.history-content2 > h6 {
  font-family: "Raleway", sans-serif;
  color: #6b7280;
}
.history-content2 > p {
  color: #9ca3af;
  font-size: smaller;
  line-height: 1.4;
}
.img-2 {
  box-sizing: border-box;
  display: flex;
  width: 19rem;
  height: 19rem;
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
    drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}

/* .img-container > img:hover {
  transform: scale(0.9);
  transition: transform 0.5s ease;
} */

@media only screen and (min-width: 1227px) and (max-width: 1390px) {
  .img-2 {
    width: 18rem;
    height: 18rem;
  }
  .img-employees {
    width: 35rem;
    height: 25rem;
  }
  .history-content {
    padding-left: 30px;
  }
  .history-content2 {
    padding-right: 30px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1226px) {
  .img-2 {
    width: 14rem;
    height: 14rem;
  }
  .img-employees {
    width: 19rem;
    height: 19rem;
  }
  .history-content {
    padding-left: 60px;
  }
  .history-content2 {
    padding-right: 60px;
  }
}

@media only screen and (max-width: 958px) {
  .about-us {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 50px;
  }
  .about-container {
    margin: 0px 50px;
  }
  .img-2 {
    width: 100%;

    justify-content: center;
  }
  .img-employees {
    width: 100%;

    justify-content: center;
  }
}
@media only screen and (min-width: 533px) and (max-width: 731px) {
  .img-2 {
    width: 100%;
    height: 14rem;
    justify-content: center;
  }
  .img-employees {
    width: 100%;
    height: 19rem;
    justify-content: center;
  }
}
@media only screen and (min-width: 300px) and (max-width: 532px) {
  .img-2 {
    justify-content: center;
    width: 100%;
    height: 10rem;
  }
  .img-employees {
    width: 100%;
    height: 15rem;
    justify-content: center;
  }
  .about-container {
    margin: 0px 20px;
  }
  .about-us {
    margin-top: 40px;
    text-align: center;
  }
}
