<div class="about-container">
  <h1>{{ "about us" | uppercase }}</h1>
  <div class="img">
    <img [src]="Base_Url + aboutData.headerImg" alt="" />
  </div>
  <div class="about-us">
    <div class="img-employees">
      <img [src]="Base_Url + aboutData.firstImage" alt="" />
    </div>
    <div class="history">
      <div class="history-content">
        <h6>History</h6>
        <p>
          {{ aboutData.history }}
        </p>
      </div>
      <div class="history-content">
        <h6>Growth</h6>
        <p>
          {{ aboutData.growth }}
        </p>
      </div>
      <div class="history-content">
        <h6>Mission & Vision statement</h6>
        <p>
          {{ aboutData.MissionAndVisionstatement }}
        </p>
      </div>
      <div class="history-content">
        <h6>Strategy</h6>
        <p>
          {{ aboutData.strategy }}
        </p>
      </div>
    </div>
    <div class="history">
      <div class="history-content2">
        <h6>Why Art House ?</h6>
        <p>
          {{ aboutData.WhyArtHouse }}
        </p>
      </div>
      <div class="history-content2">
        <h6>Our Scope</h6>
        <p>
          {{ aboutData.OurScope }}
        </p>
      </div>
      <div class="history-content2">
        <h6>Our commitment</h6>
        <p>
          {{ aboutData.OurCommitment }}
        </p>
      </div>
    </div>
    <div class="img-2">
      <img [src]="Base_Url + aboutData.secondImage" alt="" />
    </div>
  </div>
  <div class="branches">
    <div class="branches-head">
      <p>Welcome To Our Branches</p>
      <h2>Check Our Branches</h2>
    </div>
    <div class="branches-imgs">
      <div class="img-container">
        <img src="images/1_3_9.jpg" alt="" />
        <div class="text-overlay">{{ "new cairo" | uppercase }}</div>
      </div>

      <div class="img-container">
        <img src="images/1_3.jpeg" alt="" />
        <div class="text-overlay">{{ "Alexandria" | uppercase }}</div>
      </div>
      <div class="img-container">
        <img src="images/656533.webp" alt="" />
        <div class="text-overlay">{{ "6 october" | uppercase }}</div>
      </div>
    </div>
  </div>
</div>
