<!-- <div class="slider-frame">
  <div class="slide-images">
    <div class="img-container" *ngFor="let image of images">
      <img [src]="image.img" alt="" />
    </div>
  </div>
</div> -->
<div class="slider">
  <div
    id="carouselExampleInterval"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="3000">
        <img [src]="images[0]" class="d-block w-100" />
      </div>
      <ng-container *ngFor="let image of images; let i = index">
        <div
          class="carousel-item"
          data-bs-interval="3000"
          *ngIf="images.length !== i + 1"
        >
          <img [src]="images[i + 1]" class="d-block w-100" />
        </div>
      </ng-container>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleInterval"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleInterval"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
